# Web Search Configuration
SEARCH_PROVIDER=serper
SEARCH_API_KEY=your-token
SEARCH_URL=https://google.serper.dev/search

# WebUI Configuration
WEBUI_SECRET_KEY=your-key
ENABLE_SIGNUP=true
DEFAULT_MODEL=deepseek-r1:14b

# Network Configuration
OLLAMA_HOST=ollama
OLLAMA_PORT=11434
WEBUI_PORT=3001
